@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;600;700;800&family=Noto+Serif:wght@400;500;600;700&display=swap");
@import "tailwindcss";


body{
  background-color: black;
  font-family: var(--font-body)
}


@theme{
  --font-heading: "Noto Serif", serif;
  --font-body: "Hanken Grotesk", sans-serif;

 /* Brand Colors */
 --color-primary: #D8B06A;
 --color-secondary: #C89A54;
 --color-tertiary: #101522;

 /* Surfaces */
 --color-neutral: #0A0A0A;
 --color-surface: #171717;
 --color-card: #1F1F1F;

 /* Text */
 --color-text: #F5F5F5;
 --color-text-secondary: #A1A1AA;

 /* Border */
 --color-border: #363636;

 /* Status */
 --color-success: #22C55E;
 --color-warning: #FACC15;
 --color-error: #EF4444;
}


#register_logo{
  width: 40vh;
}

[data-sonner-toast] {
  background: #D8B06A !important;
  color: #101522 !important;
  border: 1px solid #000 !important;
  border-radius: 12px !important;
}

[data-sonner-toast][data-type="success"] {
  border-left: 10px solid #0b933d !important;
}

[data-sonner-toast][data-type="error"] {
  border-left: 10px solid #a90a0a !important;
}

[data-sonner-toast] [data-title] {
  font-weight: 600;
}